@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

:root {
  --brand-color-blue: #2196f3;
  --brand-color-black: #212121;
  --brand-color-grey: #757575;
}
body {
  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--brand-color-black);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

p {
  font-family: 'Roboto';
  color: var(--brand-color-grey);
  font-size: 16px;
  line-height: 0.5;
}

/* Header Styles */
.first_header_a {
  color: var(--brand-color-black);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 0.8;
}

.first_header_a:hover {
  color: var(--brand-color-blue);
}

.second_header_a {
  color: var(--brand-color-grey);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 0.8;
}

.second_header_a:hover {
  color: var(--brand-color-blue);
}

.icon {
  font-family: 'Raleway';
  color: var(--brand-color-blue);
  font-weight: 700;
  font-size: 26px;
  line-height: 0.8;
}
/* Header Styles */

/* Hero Styles */
.hero {
  background-color: #2f303a;
}

.hero > h1 {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 0.8;
  text-align: center;
}

.hero > button {
  width: 261px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-color: var(--brand-color-blue);
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 0.3;
  text-align: center;
}
/* Hero Styles */

/* Our Team */
.our_team {
  background-color: #f5f4fa;
}
.our_team > h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 0.8;
}
.team_items {
  background-color: #ffffff;
}
.team_items > div {
  text-align: center;
}
/* Our Team */

/* Footer */
.footer_a {
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 0.5;
  font-style: normal;
}

.footer_b {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 0.5;
  font-style: normal;
}
.footer_b:hover {
  color: var(--brand-color-blue);
}
/* Footer */

.port-button {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  background: #f5f4fa;
  border: none;
  border-radius: 2px;
  color: var(--brand-color-black);
}

.port-button:hover {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  background: var(--brand-color-blue);
  border: none;
  border-radius: 2px;
  color: #ffffff;
}
